<section class="abilities">
    <div class="abilities__content">
        <div class="abilities__sidebar">
            <div class="abilities__panel">


                <h2 class="abilities__heading">
                    Возможности для АЗС
                </h2>
                <div class="abilities__nav">
                    <ul class="abilities__nav-list">
                        <li class="abilities__nav-list-item">
                            <a href="#abilities-1" class="abilities__nav-link js-tabs-btn">
                                Повышение продаж
                            </a>
                        </li>
                        <li class="abilities__nav-list-item">
                            <a href="#abilities-2" class="abilities__nav-link js-tabs-btn">
                                Повышение продаж сопутствующего товара
                            </a>
                        </li>
                        <li class="abilities__nav-list-item">
                            <a href="#abilities-3" class="abilities__nav-link js-tabs-btn">
                                Повышение пролива топлива
                            </a>
                        </li>
                        <li class="abilities__nav-list-item">
                            <a href="#abilities-4" class="abilities__nav-link js-tabs-btn">
                                Снижение обращений на горячую линию
                            </a>
                        </li>
                        <li class="abilities__nav-list-item">
                            <a href="#abilities-5" class="abilities__nav-link js-tabs-btn">
                                Повышение NPS и Retanion
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="abilities__main">
            <ul class="abilities__list">
                <li class="abilities__list-item" id="abilities-1">
                    <div class="abilities__card js-accordion js-accordion-mobile" data-close-other="">
                        <div class="abilities__card-inner js-accordion-btn">
                            <div class="abilities__card-btn">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#diagonal-arrow"></use>
                                </svg>
                                Повышение
                                продаж
                            </div>
                            <div class="abilities__card-content js-accordion-content">
                                <div class="abilities__card-content-inner">
                                    <div class="abilities__card-text">
                                        Повышение продаж с помощью выявления нарушений согласно заданных параметров
                                    </div>
                                    <ul class="abilities__card-list">
                                        <li class="abilities__card-list-item">
                                            <div class="abilities__card-feature">
                                                <div class="abilities__card-feature-amount">
                                                    +40%
                                                </div>
                                                <div class="abilities__card-feature-text">
                                                    Вырос процент продаж
                                                    вместе со SmartMetrics
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="abilities__list-item" id="abilities-2">
                    <div class="abilities__card js-accordion js-accordion-mobile" data-close-other="">
                        <div class="abilities__card-inner js-accordion-btn">
                            <div class="abilities__card-btn ">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#diagonal-arrow"></use>
                                </svg>
                                Повышение продаж сопутствующего товара
                            </div>
                            <div class="abilities__card-content js-accordion-content">
                                <div class="abilities__card-content-inner">
                                    <div class="abilities__card-text">
                                        Повышение продаж с помощью выявления нарушений согласно заданных параметров
                                    </div>
                                    <ul class="abilities__card-list">
                                        <li class="abilities__card-list-item">
                                            <div class="abilities__card-feature">
                                                <div class="abilities__card-feature-amount">
                                                    +40%
                                                </div>
                                                <div class="abilities__card-feature-text">
                                                    Вырос процент продаж
                                                    вместе со SmartMetrics
                                                </div>
                                            </div>
                                        </li>
                                        <li class="abilities__card-list-item">
                                            <div class="abilities__card-feature">
                                                <div class="abilities__card-feature-amount">
                                                    +5%
                                                </div>
                                                <div class="abilities__card-feature-text">
                                                    Вырос процент продаж
                                                    вместе со SmartMetrics
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="abilities__list-item" id="abilities-3">
                    <div class="abilities__card js-accordion js-accordion-mobile" data-close-other="">
                        <div class="abilities__card-inner js-accordion-btn">


                            <div class="abilities__card-btn ">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#diagonal-arrow"></use>
                                </svg>
                                Повышение пролива топлива
                            </div>
                            <div class="abilities__card-content js-accordion-content">
                                <div class="abilities__card-content-inner">
                                    <div class="abilities__card-text">
                                        Повышение продаж с помощью выявления нарушений согласно заданных параметров
                                    </div>
                                    <ul class="abilities__card-list">
                                        <li class="abilities__card-list-item">
                                            <div class="abilities__card-feature">
                                                <div class="abilities__card-feature-amount">
                                                    +40%
                                                </div>
                                                <div class="abilities__card-feature-text">
                                                    Вырос процент продаж
                                                    вместе со SmartMetrics
                                                </div>
                                            </div>
                                        </li>
                                        <li class="abilities__card-list-item">
                                            <div class="abilities__card-feature">
                                                <div class="abilities__card-feature-amount">
                                                    +5%
                                                </div>
                                                <div class="abilities__card-feature-text">
                                                    Вырос процент продаж
                                                    вместе со SmartMetrics
                                                </div>
                                            </div>
                                        </li>
                                        <li class="abilities__card-list-item">
                                            <div class="abilities__card-feature">
                                                <div class="abilities__card-feature-amount">
                                                    +40%
                                                </div>
                                                <div class="abilities__card-feature-text">
                                                    Вырос процент продаж
                                                    вместе со SmartMetrics
                                                </div>
                                            </div>
                                        </li>
                                        <li class="abilities__card-list-item">
                                            <div class="abilities__card-feature">
                                                <div class="abilities__card-feature-amount">
                                                    +5%
                                                </div>
                                                <div class="abilities__card-feature-text">
                                                    Вырос процент продаж
                                                    вместе со SmartMetrics
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="abilities__list-item" id="abilities-4">
                    <div class="abilities__card js-accordion js-accordion-mobile" data-close-other="">
                        <div class="abilities__card-inner js-accordion-btn">
                            <div class="abilities__card-btn ">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#diagonal-arrow"></use>
                                </svg>
                                Снижение обращений на горячую линию
                            </div>
                            <div class="abilities__card-content js-accordion-content">
                                <div class="abilities__card-content-inner">
                                    <div class="abilities__card-text">
                                        Повышение продаж с помощью выявления нарушений согласно заданных параметров
                                    </div>
                                    <ul class="abilities__card-list">
                                        <li class="abilities__card-list-item">
                                            <div class="abilities__card-feature">
                                                <div class="abilities__card-feature-amount">
                                                    +40%
                                                </div>
                                                <div class="abilities__card-feature-text">
                                                    Вырос процент продаж
                                                    вместе со SmartMetrics
                                                </div>
                                            </div>
                                        </li>
                                        <li class="abilities__card-list-item">
                                            <div class="abilities__card-feature">
                                                <div class="abilities__card-feature-amount">
                                                    +5%
                                                </div>
                                                <div class="abilities__card-feature-text">
                                                    Вырос процент продаж
                                                    вместе со SmartMetrics
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="abilities__list-item" id="abilities-5">
                    <div class="abilities__card js-accordion js-accordion-mobile" data-close-other="">
                        <div class="abilities__card-inner js-accordion-btn">


                            <div class="abilities__card-btn">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#diagonal-arrow"></use>
                                </svg>
                                Повышение NPS и Retanion
                            </div>
                            <div class="abilities__card-content js-accordion-content">
                                <div class="abilities__card-content-inner">
                                    <div class="abilities__card-text">
                                        Повышение продаж с помощью выявления нарушений согласно заданных параметров
                                    </div>
                                    <ul class="abilities__card-list">
                                        <li class="abilities__card-list-item">
                                            <div class="abilities__card-feature">
                                                <div class="abilities__card-feature-amount">
                                                    +40%
                                                </div>
                                                <div class="abilities__card-feature-text">
                                                    Вырос процент продаж
                                                    вместе со SmartMetrics
                                                </div>
                                            </div>
                                        </li>
                                        <li class="abilities__card-list-item">
                                            <div class="abilities__card-feature">
                                                <div class="abilities__card-feature-amount">
                                                    +5%
                                                </div>
                                                <div class="abilities__card-feature-text">
                                                    Вырос процент продаж
                                                    вместе со SmartMetrics
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>