<section class="about-company">
    <div class="about-company__content">
        <div class="about-company__image-wrapper">
            <img src="/images/about-company.webp" alt="" class="about-company__image">
        </div>
        <div class="about-company__text-content">
            <h2 class="about-company__heading">
                Более 4 лет помогаем компаниям расти и <b>улучшать бизнес-процессы</b>
            </h2>
            <div class="about-company__text">
                <p>
                    Дистанционный контроль большого количества точек с возможностью просмотра камер видеонаблюдения
                    и получения комплексных отчетов в онлайн режиме.
                </p>
                <p>
                    Мы разработали интеллектуальную систему, способную обрабатывать большие объемы данных и
                    предоставлять полезные аналитические инсайты, необходимые для принятия основанных на фактах решений.
                </p>
                <p>
                    Дистанционный контроль большого количества точек с возможностью просмотра камер видеонаблюдения
                    и получения комплексных отчетов в онлайн режиме.
                </p>
            </div>
            <a href="#" class="about-company__link">
                Наши кейсы
            </a>
        </div>
    </div>
</section>