<section class="about-header">
    <div class="about-header__content">
        <div class="about-header__text-content">
            <h1 class="about-header__title">
                О компании
            </h1>
            <h2 class="about-header__heading">
                Smartmetrics
            </h2>
            <div class="about-header__text">
                Система управления бизнесом<br>
                и аналитики на основе нейронных сетей
            </div>
            <a href="#" class="about-header__link js-open-modal">
                Связаться с нами
            </a>
        </div>
        <div class="about-header__images-row">
            <div class="about-header__images-col">
                <div class="about-header__images-item">
                    <img src="/images/about-header/1.webp" alt="" class="about-header__image">
                </div>
                <div class="about-header__images-item">
                    <img src="/images/about-header/3.webp" alt="" class="about-header__image">
                </div>
            </div>
            <div class="about-header__images-col">
                <div class="about-header__images-item">
                    <img src="/images/about-header/2.webp" alt="" class="about-header__image">
                </div>
                <div class="about-header__images-item">
                    <img src="/images/about-header/4.webp" alt="" class="about-header__image">
                </div>
            </div>
        </div>
    </div>
</section>