<section class="advantages">
    <div class="advantages__content">
        <h2 class="advantages__heading">
            В чем мы можем помочь?
        </h2>
        <ul class="advantages__list">
            <li class="advantages__list-item">
                <div class="advantages__card">
                    <img src="/images/advantages/1.svg" alt="" class="advantages__card-icon">
                    <div class="advantages__card-content">
                        <h3 class="advantages__card-title">
                            Соблюдение регламентов
                        </h3>
                        <div class="advantages__card-text">
                            Автоматическая фиксация и выгрузка
                            нарушений. Потоковая обработка и проверка
                        </div>
                    </div>
                </div>
            </li>
            <li class="advantages__list-item">
                <div class="advantages__card">
                    <img src="/images/advantages/2.svg" alt="" class="advantages__card-icon">
                    <div class="advantages__card-content">
                        <h3 class="advantages__card-title">
                            Контроль качества
                        </h3>
                        <div class="advantages__card-text">
                            Автоматическая фиксация и выгрузка нарушений. Потоковая обработка и проверка
                        </div>
                    </div>
                </div>
            </li>
            <li class="advantages__list-item">
                <div class="advantages__card">
                    <img src="/images/advantages/3.svg" alt="" class="advantages__card-icon">
                    <div class="advantages__card-content">
                        <h3 class="advantages__card-title">
                            Мерчандайзинг
                        </h3>
                        <div class="advantages__card-text">
                            Автоматическая фиксация и выгрузка нарушений. Потоковая обработка и проверка
                        </div>
                    </div>
                </div>
            </li>
            <li class="advantages__list-item">
                <div class="advantages__card">
                    <img src="/images/advantages/4.svg" alt="" class="advantages__card-icon">
                    <div class="advantages__card-content">
                        <h3 class="advantages__card-title">
                            Безопасность
                        </h3>
                        <div class="advantages__card-text">
                            Автоматическая фиксация и выгрузка нарушений. Потоковая обработка и проверка
                        </div>
                    </div>
                </div>
            </li>
            <li class="advantages__list-item">
                <div class="advantages__card">
                    <img src="/images/advantages/5.svg" alt="" class="advantages__card-icon">
                    <div class="advantages__card-content">


                        <h3 class="advantages__card-title">
                            Оценка эффективности маркетинга
                        </h3>
                        <div class="advantages__card-text">
                            Автоматическая фиксация и выгрузка нарушений. Потоковая обработка и проверка
                        </div>
                    </div>
                </div>
            </li>
            <li class="advantages__list-item">
                <a href="#" class="advantages__demo">
                    <div class="advantages__demo-content">


                        <h3 class="advantages__demo-title">
                            Запросить демо
                        </h3>
                        <div class="advantages__demo-text">
                            Описание — это словесное изображение кого-либо или чего-либо. Ключевые слова —
                            прилагательные.
                        </div>
                    </div>
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#fat-arrow-right"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</section>