<div class="awards-card">
    <h3 class="awards-card__title">
        {{ title }}
    </h3>
    <div class="awards-card__bottom-row">
        <div class="awards-card__requisites">
            <div class="awards-card__requisites-item">
                Регистрационный номер: {{ number }}
            </div>
            <div class="awards-card__requisites-item">
                Дата регистрации: {{ date }}
            </div>
        </div>
        <div class="awards-card__icon-container">
            <img src="{{ src }}" alt="" class="awards-card__icon">
        </div>
    </div>
</div>