<section class="cases-single">
    <div class="cases-single__content">
        <div class="cases-single__main">
            <div class="text-content cases-single__text-content">

                <div class="info">
                    <div class="info__summary">
                        <div class="info__summary-key">
                            Задача и KPI:
                        </div>
                        <div class="info__summary-value">
                            Увеличение продаж топлива и сопутствующих товаров
                        </div>
                    </div>
                    <ul class="info__list">
                        <li class="info__list-item">
                            <div class="info__card">
                                <div class="info__card-key">
                                    Количество точек:
                                </div>
                                <div class="info__card-value">
                                    10 точек по регионам&nbsp;РФ
                                </div>
                            </div>
                        </li>
                        <li class="info__list-item">
                            <div class="info__card">
                                <div class="info__card-key">
                                    Срок реализации
                                </div>
                                <div class="info__card-value">
                                    1 год
                                </div>
                            </div>
                        </li>
                        <li class="info__list-item">
                            <div class="info__card">
                                <div class="info__card-key">
                                    Дата запуска:
                                </div>
                                <div class="info__card-value">
                                    05.05.2023
                                </div>
                            </div>
                        </li>
                        <li class="info__list-item">
                            <div class="info__card">
                                <div class="info__card-key">
                                    Клиент:
                                </div>
                                <div class="info__card-value">
                                    VEKA
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <h2>
                    Постановка задачи и описание решений
                </h2>
                <ol>
                    <li>
                        Увеличение продаж сопутствовающего товара
                    </li>
                    <li>
                        Увеличение пролива топлива
                    </li>
                    <li>
                        Увеличение NPS, retention.
                    </li>
                    <li>
                        Увеличение конверсии и средн чека
                    </li>
                    <li>
                        Определение показателя зависимости среднего чека от посещения туалета.
                    </li>
                </ol>

                <div class="gallery js-gallery">
                    <div class="gallery__main-slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                {{#times 5}}
                                    <div class="swiper-slide">
                                        <div class="gallery__main-slider-card">
                                            <img src="/images/case-slider.webp" alt=""
                                                class="gallery__main-slider-card-image">
                                        </div>
                                    </div>
                                {{/times}}
                            </div>
                        </div>
                        <div class="gallery__arrows">
                            <button class="gallery__arrow gallery__arrow--prev" type="button">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#slider-arrow-right"></use>
                                </svg>
                            </button>
                            <button class="gallery__arrow gallery__arrow--next" type="button">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#slider-arrow-right"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="gallery__pagination">

                        </div>
                    </div>
                    <div class="gallery__text-slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="gallery__text-slider-card">
                                        Подпись под фото
                                    </div>
                                </div>
                                {{#times 4}}
                                    <div class="swiper-slide">
                                        <div class="gallery__text-slider-card">
                                            Подпись под фото другая
                                        </div>
                                    </div>
                                {{/times}}
                            </div>
                        </div>
                    </div>
                </div>

                <h2>
                    Вывод по поставленным задачам
                </h2>
                <p>
                    Все поставленные задачи были выполнены. По итогу аналитики было принято решение о внедрении продукта
                    на всю сеть АЗС.
                </p>

                <div class="results">
                    <h3 class="results__heading">
                        Результаты внедрения
                    </h3>
                    <ul class="results__list">
                        <li class="results__list-item">
                            <div class="results__card">
                                <div class="results__card-amount">
                                    +5%
                                </div>
                                <div class="results__card-text">
                                    Увеличили продажи нефтепродуктов
                                </div>
                            </div>
                        </li>
                        <li class="results__list-item">
                            <div class="results__card">
                                <div class="results__card-amount">
                                    +40%
                                </div>
                                <div class="results__card-text">
                                    Увеличили продажи сопутствующих товаров
                                </div>
                            </div>
                        </li>
                        <li class="results__list-item">
                            <div class="results__card">
                                <div class="results__card-amount">
                                    10 раз
                                </div>
                                <div class="results__card-text">
                                    Сократили количество звонков на горячую линию
                                </div>
                            </div>
                        </li>
                        <li class="results__list-item">
                            <div class="results__card">
                                <div class="results__card-amount">
                                    10 раз
                                </div>
                                <div class="results__card-text">
                                    Сократили количество звонков на горячую линию
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <blockquote class="blockquote">
                    <div class="blockquote__text">
                        Отзыв — это письменное либо устное высказывание, основанное на выражении личностного
                        эмоционально-оценочного отношения к увиденному, услышанному или пережитому опыту.
                    </div>
                    <div class="blockquote__author">
                        <div class="blockquote__author-image-container">
                            <img src="/images/blockquote-author.jpg" alt="" class="blockquote__author-image">
                        </div>
                        <div class="blockquote__author-info">
                            <div class="blockquote__author-name">
                                Сергеев Сергей Семенович
                            </div>
                            <div class="blockquote__author-role">
                                Руководитель VEKA
                            </div>
                        </div>
                    </div>
                </blockquote>
            </div>
        </div>
        <div class="cases-single__sidebar js-demo-sidebar">
            <div class="cases-single__demo js-demo">
                <div class="cases-single__demo-top-row">
                    <h3 class="cases-single__demo-heading">
                        Увеличивайте показатели вместе с&nbsp;нами
                    </h3>
                    <img src="/images/case-demo.webp" alt="" class="cases-single__demo-image">
                </div>
                <div class="cases-single__demo-desc">
                    Описание — это словесное изображение кого-либо или чего-либо. Ключевые слова — прилагательные. В
                    этом типе текста главное — дать описание какого-либо предмета, объекта или действия.
                </div>
                <a href="#" class="cases-single__demo-link js-open-modal">
                    Связаться с нами
                </a>
            </div>
        </div>
    </div>
</section>