<section class="case-header">
    <div class="case-header__content">
        <a href="#" class="case-header__back-link">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#fat-arrow-left"></use>
            </svg>
            Назад к кейсам
        </a>
        <ul class="case-header__tags-list">
            <li class="case-header__tags-list-item">
                <div class="case-header__tag">
                    Ритейл сети
                </div>
            </li>
        </ul>
        <div class="case-header__title-wrapper">
            <h1 class="case-header__title">
                VEKA
            </h1>
            <span class="case-header__logo-wrapper">
                <img src="/images/case-header.webp" alt="" class="case-header__logo">
            </span>
        </div>
        <div class="case-header__text">
            Увеличили по итогу 1 года в 10 точек по всем регионам РФ продажи сопутствующих товаров на 40%
        </div>

    </div>
</section>