<section class="certificates">
    <div class="certificates__content">
        <div class="certificates__row">
            <h2 class="certificates__heading">
                Сертификаты
            </h2>
            <div class="certificates__arrows">
                <button class="certificates__arrow certificates__arrow--prev">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-right"></use>
                    </svg>
                </button>
                <button class="certificates__arrow certificates__arrow--next">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="certificates__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="certificates__slider-card">
                            <h3 class="certificates__slider-card-title">
                                Свидетельство о гос. регистрации объекта интеллектуальной собственности
                            </h3>
                            <div class="certificates__slider-card-row">
                                <div class="certificates__slider-card-text">
                                    Рег. номер ВЭО РОСС RU 31259.45.04 ЖСЛ0 от 01.09.2014&nbsp;г.
                                </div>
                                <div class="certificates__slider-card-image-container">
                                    <img src="/images/certificates/1.webp" alt=""
                                        class="certificates__slider-card-image">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="certificates__slider-card">
                            <h3 class="certificates__slider-card-title">
                                Сертификат соответствия международным
                                стандартам IT
                            </h3>
                            <div class="certificates__slider-card-row">
                                <div class="certificates__slider-card-text">
                                    Рег. номер ВЭО РОСС RU 31259.45.04 ЖСЛ0 от 01.09.2014&nbsp;г.
                                </div>
                                <div class="certificates__slider-card-image-container">
                                    <img src="/images/certificates/2.webp" alt=""
                                        class="certificates__slider-card-image">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="certificates__slider-card">
                            <h3 class="certificates__slider-card-title">
                                Свидетельство о гос. регистрации объекта интеллектуальной собственности
                            </h3>
                            <div class="certificates__slider-card-row">
                                <div class="certificates__slider-card-text">
                                    Рег. номер ВЭО РОСС RU 31259.45.04 ЖСЛ0 от 01.09.2014&nbsp;г.
                                </div>
                                <div class="certificates__slider-card-image-container">
                                    <img src="/images/certificates/2.webp" alt=""
                                        class="certificates__slider-card-image">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="certificates__slider-card">
                            <h3 class="certificates__slider-card-title">
                                Сертификат соответствия международным
                                стандартам IT
                            </h3>
                            <div class="certificates__slider-card-row">
                                <div class="certificates__slider-card-text">
                                    Рег. номер ВЭО РОСС RU 31259.45.04 ЖСЛ0 от 01.09.2014&nbsp;г.
                                </div>
                                <div class="certificates__slider-card-image-container">
                                    <img src="/images/certificates/2.webp" alt=""
                                        class="certificates__slider-card-image">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="certificates__slider-card">
                            <h3 class="certificates__slider-card-title">
                                Свидетельство о гос. регистрации объекта интеллектуальной собственности
                            </h3>
                            <div class="certificates__slider-card-row">
                                <div class="certificates__slider-card-text">
                                    Рег. номер ВЭО РОСС RU 31259.45.04 ЖСЛ0 от 01.09.2014&nbsp;г.
                                </div>
                                <div class="certificates__slider-card-image-container">
                                    <img src="/images/certificates/1.webp" alt=""
                                        class="certificates__slider-card-image">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>