<section class="consultation">
    <div class="consultation__content">
        <div class="consultation__text-content">
            <h2 class="consultation__heading">
                Получите консультацию
                эксперта
            </h2>
            <div class="consultation__contacts">
                <a href="tel:+79033422377" class="consultation__contacts-link">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#phone"></use>
                    </svg>
                    +7 (903) 342–23–77
                </a>
                <a href="mailto:info@smartmetrics.su" class="consultation__contacts-link">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#mail"></use>
                    </svg>
                    info@smartmetrics.su
                </a>
            </div>
        </div>
        <div class="consultation__form-wrapper">
            <h3 class="consultation__form-heading">
                Оставьте заявку и мы свяжемся с&nbsp;вами в&nbsp;ближайшее&nbsp;время
            </h3>
            <form action="/" method="POST" class="consultation__form">
                <div class="consultation__fields">
                    <div class="consultation__field">
                        <label class="consultation__label">
                            <input type="text" class="consultation__input" name="your-name" required=""
                                placeholder="Ваше имя *">
                            <span class="consultation__label-text">
                                Ваше имя *
                            </span>
                        </label>
                    </div>
                    <div class="consultation__field">
                        <label class="consultation__label">
                            <input type="tel" class="consultation__input" name="your-phone" required=""
                                placeholder="Телефон *">
                            <span class="consultation__label-text">
                                Телефон *
                            </span>
                        </label>
                    </div>
                    <div class="consultation__field">
                        <label class="consultation__label">
                            <input type="text" class="consultation__input" name="your-company"
                                placeholder="Название сети">
                            <span class="consultation__label-text">
                                Название сети
                            </span>
                        </label>
                    </div>
                    <div class="consultation__field">
                        <label class="consultation__label">
                            <input type="text" class="consultation__input" name="your-company"
                                placeholder="Количество точек сети">
                            <span class="consultation__label-text">
                                Количество точек сети
                            </span>
                        </label>
                    </div>
                </div>
                <div class="consultation__submit-wrapper">

                    <button class="consultation__submit" type="submit">
                        Отправить
                    </button>
                    <div class="consultation__policy">
                        Нажимая кнопку “Отправить”, вы даете согласие
                        на <a href="#">обработку персональных данных</a>
                    </div>

                </div>
            </form>
        </div>
    </div>
</section>