<section class="contacts">
    <div class="contacts__content">
        <h1 class="contacts__heading">
            Контакты
        </h1>
        <div class="contacts__map-wrapper js-map" data-center="55.780533, 49.137849" data-coords="55.780213, 49.133444"
            data-zoom="15" data-pin="/images/pin.svg" data-mobile-center="55.785572, 49.133184" data-mobile-zoom="15">
            <div class="contacts__map-container">
                <div class="contacts__map js-map-element"></div>
            </div>
            <div class="contacts__map-text-content-wrapper">
                <div class="contacts__map-text-content">
                    <ul class="contacts__list">
                        <li class="contacts__list-item">
                            <div class="contacts__card">
                                <h3 class="contacts__card-title">
                                    Телефон
                                </h3>
                                <a href="tel:+79033422377" class="contacts__phone-link">
                                    +7 (903) 342–23–77
                                </a>
                            </div>
                        </li>
                        <li class="contacts__list-item">
                            <div class="contacts__card">
                                <h3 class="contacts__card-title">
                                    Email
                                </h3>
                                <a href="mailto:info@smartmetrics.su" class="contacts__mail-link">
                                    info@smartmetrics.su
                                </a>
                            </div>
                        </li>
                        <li class="contacts__list-item">
                            <div class="contacts__card">
                                <h3 class="contacts__card-title">
                                    Адрес
                                </h3>
                                <div class="contacts__card-address">
                                    Республика Татарстан, Казань,<br> 420074, ул. Петербургская, 52 а/я 24
                                </div>
                            </div>
                        </li>
                    </ul>
                    <a href="#" class="contacts__link">
                        Связаться с нами
                    </a>
                    <div class="contacts__requisites">
                        ИНН 1660065969<br>
                        ОГРНИП 1031630212800 / 165901001
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>