<section class="dates">
    <div class="dates__content">
        <div class="dates__text-content">
            <h2 class="dates__heading">
                Сроки внедрения
            </h2>
            <div class="dates__text">
                В приоритете у заказчиков видеоаналитика и получаемые с ее помощью цифры, которые дают объективную
                информацию
                для оценки и оптимизации бизнес-процессов.
            </div>
            <ul class="dates__list">
                <li class="dates__list-item">
                    <div class="dates__card">
                        <div class="dates__card-amount">
                            1 год
                        </div>
                        <div class="dates__card-text">
                            Общее время внедрения
                            с настройкой контура
                        </div>
                    </div>
                </li>
                <li class="dates__list-item">
                    <div class="dates__card">
                        <div class="dates__card-amount">
                            10 точек
                        </div>
                        <div class="dates__card-text">
                            Среднее количество точек
                        </div>
                    </div>
                </li>
            </ul>
            <a href="#" class="dates__link">
                Запросить расчет сметы
            </a>
        </div>
        <div class="dates__image-wrapper">
            <img src="/images/dates.webp" alt="" class="dates__image">
        </div>
    </div>
</section>