<section class="faq">
    <div class="faq__content">
        <h2 class="faq__heading">
            Ответы на вопросы
        </h2>
        <div class="faq__accordions">
            <div class="accordions">
                <div class="accordions__items accordions__items--large">
                    <div class="accordions__item accordions__item--large js-accordion" data-close-other="">
                        <button class="accordions__item-btn js-accordion-btn">
                            <span class="accordions__item-btn-text">
                                Почему пилот платный?
                            </span>
                            <span class="accordions__item-btn-icon">

                            </span>
                        </button>
                        <div class="accordions__item-content js-accordion-content">
                            <div class="accordions__item-content-inner">
                                Графический элемент аккордеон представляет собой вертикально сложенный список
                                элементов, таких как текстовые метки или эскизы. Каждый элемент может быть
                                «развёрнут» или «раскрыт», чтобы показать содержание, связанное c этим
                                элементом.
                            </div>
                        </div>
                    </div>
                    <div class="accordions__item accordions__item--large js-accordion" data-close-other="">
                        <button class="accordions__item-btn js-accordion-btn">
                            <span class="accordions__item-btn-text">
                                Как вы можете подтвердить вашу экспертность?
                            </span>
                            <span class="accordions__item-btn-icon">

                            </span>
                        </button>
                        <div class="accordions__item-content js-accordion-content">
                            <div class="accordions__item-content-inner">
                                Графический элемент аккордеон представляет собой вертикально сложенный список
                                элементов, таких как текстовые метки или эскизы. Каждый элемент может быть
                                «развёрнут» или «раскрыт», чтобы показать содержание, связанное c этим
                                элементом.
                            </div>
                        </div>
                    </div>
                    <div class="accordions__item accordions__item--large js-accordion" data-close-other="">
                        <button class="accordions__item-btn js-accordion-btn">
                            <span class="accordions__item-btn-text">
                                Как вы можете подтвердить, что ваш продукт работает?
                            </span>
                            <span class="accordions__item-btn-icon">

                            </span>
                        </button>
                        <div class="accordions__item-content js-accordion-content">
                            <div class="accordions__item-content-inner">
                                Графический элемент аккордеон представляет собой вертикально сложенный список
                                элементов, таких как текстовые метки или эскизы. Каждый элемент может быть
                                «развёрнут» или «раскрыт», чтобы показать содержание, связанное c этим
                                элементом.
                            </div>
                        </div>
                    </div>
                    <div class="accordions__item accordions__item--large js-accordion" data-close-other="">
                        <button class="accordions__item-btn js-accordion-btn">
                            <span class="accordions__item-btn-text">
                                Формулировка вопроса 4
                            </span>
                            <span class="accordions__item-btn-icon">

                            </span>
                        </button>
                        <div class="accordions__item-content js-accordion-content">
                            <div class="accordions__item-content-inner">
                                Графический элемент аккордеон представляет собой вертикально сложенный список
                                элементов, таких как текстовые метки или эскизы. Каждый элемент может быть
                                «развёрнут» или «раскрыт», чтобы показать содержание, связанное c этим
                                элементом.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>