<footer class="page-footer">
    <div class="page-footer__inner">
        <div class="page-footer__top-row">
            <a href="/" class="page-footer__logo">
                <img src="/images/logo-white.svg" alt="Логотип" class="page-footer__logo-image" width="254">
            </a>
            <nav class="page-footer__nav">
                <ul>
                    <li>
                        <a href="#">
                            Решения
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Тарифы
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            О компании
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Документация
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Блог
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Контакты
                        </a>
                    </li>
                </ul>
            </nav>
            <form class="page-footer__subscribe js-form" action="/" method="POST">
                <div class="page-footer__subscribe-content">
                    <div class="page-footer__subscribe-text">
                        Будем присылать только важные новости и объявления нашей системы
                    </div>
                    <div class="page-footer__subscribe-wrapper">
                        <div class="page-footer__subscribe-input-wrapper">
                            <input type="email" name="your-email" class="page-footer__subscribe-input" required=""
                                placeholder="Email">
                            <button class="page-footer__subscribe-submit" type="submit">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="page-footer__policy">
                        Нажимая на кнопку вы подтверждаете, что ознакомлены с <a href="#">Политикой обработки
                            персональных
                            данных
                        </a> и даёте
                        <a href="#">Согласие на обработку персональных данных.</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="page-footer__bottom-row">
            <div class="page-footer__copyright">
                © 2023 Все права защищены.<br> Smartmetrics.
            </div>
            <a href="#" class="page-footer__instruction">
                Функциональные характеристики и&nbsp;инструкция по эксплуатации
            </a>
            <a href="#" class="page-footer__agreement">
                Пользовательское соглашение
            </a>
            <a href="#" class="page-footer__made-by">
                Разработано<br>
                <img src="/images/mark-weber.svg" alt="Логотип Mark Weber" class="page-footer__made-by-logo" width="80">
            </a>
        </div>
    </div>
</footer>