<header class="page-header">
    <div class="page-header__row">
        <a href="/" class="page-header__logo">
            <img src="/images/logo.svg" alt="" class="page-header__logo-image">
        </a>
        <div class="page-header__menu">
            <nav class="page-header__nav">
                <ul>
                    <li>
                        <a href="solutions.html">
                            Решения
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Кейсы
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Тарифы
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            О компании
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            База знаний
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Документация
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Контакты
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="page-header__contacts">
                <a href="tel:+79033422377" class="page-header__contacts-link">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#phone"></use>
                    </svg>
                    +7 (903) 342–23–77
                </a>
                <a href="mailto:info@smartmetrics.su" class="page-header__contacts-link">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#mail"></use>
                    </svg>
                    info@smartmetrics.su
                </a>
            </div>
            <a href="#" class="page-header__contact-us">
                Связаться с нами
            </a>
        </div>
        <a href="#" class="page-header__dashboard">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#person"></use>
            </svg>
            <span class="page-header__dashboard-text">
                Войти
            </span>

        </a>
        <button class="page-header__burger" type="button">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</header>