<section class="history">
    <div class="history__content">
        <h2 class="history__heading">
            История компании
        </h2>
        <div class="history__row">


            <div class="history__slider">
                <div class="history__nav-slider">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="history__nav-link">
                                    2023
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="history__nav-link">
                                    2020
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="history__nav-link">
                                    2018
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="history__nav-link">
                                    2016
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="history__nav-link">
                                    2014
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="history__main-slider">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="history__main-slider-card">
                                    <h3>
                                        Расширяем свои возможности
                                    </h3>
                                    <p>
                                        Мы разработали интеллектуальную систему, способную обрабатывать большие
                                        объемы
                                        данных и предоставлять полезные аналитические инсайты, необходимые для
                                        принятия
                                        основанных на фактах решений.
                                    </p>
                                    <ul>
                                        <li>
                                            Пункт буллет списка 1
                                        </li>
                                        <li>
                                            Пункт буллет списка 1
                                        </li>
                                        <li>
                                            Пункт буллет списка 1
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="history__main-slider-card">
                                    <h3>
                                        Расширяем свои возможности
                                    </h3>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, quam.
                                    </p>
                                    <ul>
                                        <li>
                                            Пункт буллет списка 1
                                        </li>
                                        <li>
                                            Пункт буллет списка 1
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            {{#times 3}}
                                <div class="swiper-slide">
                                    <div class="history__main-slider-card">
                                        <h3>
                                            Расширяем свои возможности
                                        </h3>
                                        <p>
                                            Мы разработали интеллектуальную систему, способную обрабатывать большие
                                            объемы
                                            данных и предоставлять полезные аналитические инсайты, необходимые для
                                            принятия
                                            основанных на фактах решений.
                                        </p>
                                        <ul>
                                            <li>
                                                Пункт буллет списка 1
                                            </li>
                                            <li>
                                                Пункт буллет списка 1
                                            </li>
                                            <li>
                                                Пункт буллет списка 1
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            {{/times}}
                        </div>
                    </div>
                </div>
                <div class="history__arrows">
                    <button class="history__arrow history__arrow--prev">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#slider-arrow-right"></use>
                        </svg>
                    </button>
                    <button class="history__arrow history__arrow--next">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#slider-arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="history__image-wrapper">
                <img src="/images/history.webp" alt="" class="history__image">
            </div>
        </div>
    </div>
</section>