<section class="integration integration--standalone">
    <div class="integration__content">
        <h2 class="integration__heading">
            Простая установка и интеграция
        </h2>

        <div class="integration__stages-slider integration__stages-slider--wide js-stages-slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="integration__stages-slider-card">
                            <div class="integration__stages-slider-card-number">
                                <div class="integration__stages-slider-card-number-text">
                                    1
                                </div>
                            </div>
                            <div class="integration__stages-slider-card-text">
                                <h3 class="integration__stages-slider-card-title">
                                    Спецификация
                                </h3>
                                <div class="integration__stages-slider-card-text-inner">
                                    Подготовка спецификации и KPI (КП и параметры контроля, отражающие стандарты работы
                                    с Покупателями)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="integration__stages-slider-card">
                            <div class="integration__stages-slider-card-number">
                                <div class="integration__stages-slider-card-number-text">
                                    2
                                </div>
                            </div>
                            <div class="integration__stages-slider-card-text">
                                <h3 class="integration__stages-slider-card-title">
                                    Закупка и установка оборудования
                                </h3>
                                <div class="integration__stages-slider-card-text-inner">
                                    Подбор, закупка и поставка оборудования на точки. Монтаж и пуско-наладка
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="integration__stages-slider-card">
                            <div class="integration__stages-slider-card-number">
                                <div class="integration__stages-slider-card-number-text">
                                    3
                                </div>
                            </div>
                            <div class="integration__stages-slider-card-text">
                                <h3 class="integration__stages-slider-card-title">
                                    Настройка сервиса
                                </h3>
                                <div class="integration__stages-slider-card-text-inner">
                                    Создание личного кабинета, запуск аналитики и проведение пилота (5 недель: встречи с
                                    Партнером по оценке выявляемых нарушений)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="integration__stages-slider-card">
                            <div class="integration__stages-slider-card-number">
                                <div class="integration__stages-slider-card-number-text">
                                    4
                                </div>
                            </div>
                            <div class="integration__stages-slider-card-text">
                                <h3 class="integration__stages-slider-card-title">
                                    Формирование отчетов этапа
                                </h3>
                                <div class="integration__stages-slider-card-text-inner">
                                    Создание отчета с выявлением точек роста по параметрам контроля: нпр. увеличение
                                    среднего чека на 20% при соблюдение стандартов обслуживания клиентов на уровне KPI
                                    выше 90%.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="integration__stages-slider-card">
                            <div class="integration__stages-slider-card-number">
                                <div class="integration__stages-slider-card-number-text">
                                    5
                                </div>
                            </div>
                            <div class="integration__stages-slider-card-text">
                                <h3 class="integration__stages-slider-card-title">
                                    Масштабирование
                                </h3>
                                <div class="integration__stages-slider-card-text-inner">
                                    Масштабирование решения на остальные точки сети
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>