<section class="integration">
    <div class="integration__content">
        <h2 class="integration__heading">
            Простая установка и интеграция
        </h2>
        <div class="integration__row">
            <ul class="integration__list">
                <li class="integration__list-item">
                    <div class="integration__card">
                        <img src="/images/installation/1.svg" alt="" class="integration__card-icon">
                        <h3 class="integration__card-title">
                            Быстро и легко масштабируется на все точки сети
                        </h3>
                    </div>
                </li>
                <li class="integration__list-item">
                    <div class="integration__card">
                        <img src="/images/installation/2.svg" alt="" class="integration__card-icon">
                        <h3 class="integration__card-title">
                            Легко встраивается в ваш контур, либо создадим новый
                        </h3>
                    </div>
                </li>
                <li class="integration__list-item">
                    <div class="integration__card">
                        <img src="/images/installation/3.svg" alt="" class="integration__card-icon">
                        <h3 class="integration__card-title">
                            Удобный интерфейс<br> управления
                        </h3>
                    </div>
                </li>
                <li class="integration__list-item">
                    <div class="integration__card">
                        <img src="/images/installation/4.svg" alt="" class="integration__card-icon">
                        <h3 class="integration__card-title">
                            Готовые аналитические<br> отчеты
                        </h3>
                    </div>
                </li>
            </ul>
            <div class="integration__photo-card">
                <picture>
                    <source srcset="/images/integrations-mobile.webp" media="(max-width: 640px)">
                    <img src="/images/integrations.webp" alt="" class="integration__photo-card-image">
                </picture>
            </div>
        </div>
        <div class="integration__stages-slider js-stages-slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="integration__stages-slider-card">
                            <div class="integration__stages-slider-card-number">
                                <div class="integration__stages-slider-card-number-text">
                                    1
                                </div>
                            </div>
                            <div class="integration__stages-slider-card-text">
                                Выбор от 3 до 10<br> торговых точек
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="integration__stages-slider-card">
                            <div class="integration__stages-slider-card-number">
                                <div class="integration__stages-slider-card-number-text">
                                    2
                                </div>
                            </div>
                            <div class="integration__stages-slider-card-text">
                                Согласование<br> метрического листа
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="integration__stages-slider-card">
                            <div class="integration__stages-slider-card-number">
                                <div class="integration__stages-slider-card-number-text">
                                    3
                                </div>
                            </div>
                            <div class="integration__stages-slider-card-text">
                                Запрос технических характеристик установленного оборудования
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="integration__stages-slider-card">
                            <div class="integration__stages-slider-card-number">
                                <div class="integration__stages-slider-card-number-text">
                                    4
                                </div>
                            </div>
                            <div class="integration__stages-slider-card-text">
                                Закупка и монтаж<br> оборудования
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="integration__stages-slider-card">
                            <div class="integration__stages-slider-card-number">
                                <div class="integration__stages-slider-card-number-text">
                                    5
                                </div>
                            </div>
                            <div class="integration__stages-slider-card-text">
                                Пуско-накладочные<br> работы
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>