<section class="news-header">
    <div class="news-header__content">
        <a href="#" class="news-header__back-link">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#fat-arrow-left"></use>
            </svg>
            Назад к новостям
        </a>

        <div class="news-header__info">
            <ul class="news-header__tags-list">
                <li class="news-header__tags-list-item">
                    <div class="news-header__tag">
                        Ритейл сети
                    </div>
                </li>
            </ul>
            <div class="news-header__date">
                <div class="news-header__date-key">
                    Опубликовано:
                </div>
                <div class="news-header__date-value">
                    16 января 2023
                </div>
            </div>
        </div>
        <h1 class="news-header__heading">
            Сотрудники торговых точек стали в 2 раза чаще воровать деньги из кассы
        </h1>
    </div>
</section>

<section class="news-single">
    <div class="news-single__content">
        <div class="news-single__main">
            <div class="news-single__text-content">
                <div class="annotation">
                    Аннотация,состоит из одного первого выделенного абзаца, в котором коротко формулируется проблема,
                    раскрывается суть заголовка. Размер лида обычно не превышает 3-5 строк.
                </div>
                <h2>
                    Постановка задачи и описание решений
                </h2>
                <p>
                    Описание — это словесное изображение кого-либо или чего-либо. Ключевые слова — прилагательные. В
                    этом типе текста главное — дать описание какого-либо предмета, объекта или действия.
                </p>
                <figure>
                    <img src="/images/news-photo.webp" alt="">
                    <figcaption>
                        Подпись под фото
                    </figcaption>
                </figure>
                <p>
                    Описание — это словесное изображение кого-либо или чего-либо. Ключевые слова — прилагательные. В
                    этом типе текста главное — дать описание какого-либо предмета, объекта или действия. Описание — это
                    словесное изображение кого-либо или чего-либо. Ключевые слова — прилагательные. В этом типе текста
                    главное — дать описание какого-либо предмета, объекта или действия.
                </p>
                <ol>
                    <li>
                        Увеличение продаж сопутствовающего товара
                    </li>
                    <li>
                        Увеличение пролива топлива
                    </li>
                    <li>
                        Увеличение NPS, retention.
                    </li>
                    <li>
                        Увеличение конверсии и средн чека
                    </li>
                    <li>
                        Определение показателя зависимости среднего чека от посещения туалета.
                    </li>
                </ol>
                <a href="#" class="callback-btn js-open-modal">
                    Оставить заявку
                </a>

                <h3>
                    Постановка задачи и описание решений
                </h3>
                <p>
                    Описание — это словесное изображение кого-либо или чего-либо. Ключевые слова — прилагательные. В
                    этом типе текста главное — дать описание какого-либо предмета, объекта или действия.
                </p>
                <ul>
                    <li>
                        Пункт буллет списка 1
                    </li>
                    <li>
                        Пункт буллет списка 1
                    </li>
                    <li>
                        Пункт буллет списка 1
                    </li>
                    <li>
                        Пункт буллет списка 1
                    </li>
                    <li>
                        Пункт буллет списка 1
                    </li>
                </ul>

                <div class="gallery js-gallery">
                    <div class="gallery__main-slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                {{#times 5}}
                                    <div class="swiper-slide">
                                        <div class="gallery__main-slider-card">
                                            <img src="/images/news-photo.webp" alt=""
                                                class="gallery__main-slider-card-image">
                                        </div>
                                    </div>
                                {{/times}}
                            </div>
                        </div>
                        <div class="gallery__arrows">
                            <button class="gallery__arrow gallery__arrow--prev" type="button">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#slider-arrow-right"></use>
                                </svg>
                            </button>
                            <button class="gallery__arrow gallery__arrow--next" type="button">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#slider-arrow-right"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="gallery__pagination">

                        </div>
                    </div>
                    <div class="gallery__text-slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="gallery__text-slider-card">
                                        Подпись под фото
                                    </div>
                                </div>
                                {{#times 4}}
                                    <div class="swiper-slide">
                                        <div class="gallery__text-slider-card">
                                            Подпись под фото другая
                                        </div>
                                    </div>
                                {{/times}}
                            </div>
                        </div>
                    </div>
                </div>

                <h2>
                    Заголовок
                </h2>
                <p>
                    Описание — это словесное изображение кого-либо или чего-либо. Ключевые слова — прилагательные. В
                    этом типе текста главное — дать описание какого-либо предмета, объекта или действия.
                </p>
                <div class="accordions">
                    <div class="accordions__items">
                        {{#times 4}}
                            <div class="accordions__item js-accordion">
                                <button class="accordions__item-btn js-accordion-btn">
                                    <span class="accordions__item-btn-text">
                                        Аккордеон
                                    </span>
                                    <span class="accordions__item-btn-icon">

                                    </span>
                                </button>
                                <div class="accordions__item-content js-accordion-content">
                                    <div class="accordions__item-content-inner">
                                        Графический элемент аккордеон представляет собой вертикально сложенный список
                                        элементов, таких как текстовые метки или эскизы. Каждый элемент может быть
                                        «развёрнут» или «раскрыт», чтобы показать содержание, связанное c этим
                                        элементом.
                                    </div>
                                </div>
                            </div>
                        {{/times}}
                    </div>
                </div>

                <blockquote class="blockquote">
                    <div class="blockquote__text">
                        Отзыв — это письменное либо устное высказывание, основанное на выражении личностного
                        эмоционально-оценочного отношения к увиденному, услышанному или пережитому опыту.
                    </div>
                    <div class="blockquote__author">
                        <div class="blockquote__author-image-container">
                            <img src="/images/blockquote-author.jpg" alt="" class="blockquote__author-image">
                        </div>
                        <div class="blockquote__author-info">
                            <div class="blockquote__author-name">
                                Сергеев Сергей Семенович
                            </div>
                            <div class="blockquote__author-role">
                                Руководитель VEKA
                            </div>
                        </div>
                    </div>
                </blockquote>
            </div>
        </div>
        <div class="news-single__sidebar js-demo-sidebar">
            <div class="news-single__demo js-demo">
                <div class="news-single__demo-top-row">
                    <h3 class="news-single__demo-heading">
                        Управляйте розничной сетью из любой точки
                    </h3>
                    <img src="/images/news-single-demo.webp" alt="" class="news-single__demo-image">
                </div>
                <div class="news-single__demo-desc">
                    Дистанционный контроль большого количества точек c возможностью просмотра камер видеонаблюдения и
                    получения комплексных отчетов в онлайн режиме
                </div>
                <a href="#" class="news-single__demo-link js-open-modal">
                    Запросить демо
                </a>
            </div>
        </div>
    </div>
</section>