<a href="#" class="news-card">
    <div class="news-card__image-container">
        <img src="{{ src }}" alt="" class="news-card__image">
    </div>
    <div class="news-card__content">
        <h3 class="news-card__title">
            {{ title }}
        </h3>
        <div class="news-card__bottom-row">
            <div class="news-card__date">
                {{ date }}
            </div>
            <div class="news-card__source">
                <img src="{{ source }}" alt="" class="news-card__source-image">
            </div>
        </div>
    </div>
</a>