<section class="numbers">
    <div class="numbers__content">
        <h2 class="numbers__heading">
            Smartmetrics в цифрах
        </h2>
        <div class="numbers__grid">
            <div class="numbers__roi">
                <picture>
                    <source srcset="/images/large-chart-mobile.svg" media="(max-width: 640px)">
                    <img src="/images/large-chart.svg" alt="" class="numbers__roi-chart">
                </picture>
                <div class="numbers__roi-percentage">
                    510%
                </div>
                <div class="numbers__roi-text">
                    ROI нашего решения в среднем за последние
                    12 месяцев
                </div>
            </div>
            <div class="numbers__revenue">
                <div class="numbers__revenue-percentage">
                    +113%
                </div>
                <div class="numbers__revenue-text">
                    Средний рост выручки с точки по итогам вндерения пилота
                </div>
                <div class="numbers__revenue-comparison">
                    <div class="numbers__revenue-comparison-item">
                        <div class="numbers__revenue-comparison-item-key">
                            Выручка
                        </div>
                        <div class="numbers__revenue-comparison-item-value">
                            {{#times 7}}
                                <div
                                    class="numbers__revenue-comparison-item-cell numbers__revenue-comparison-item-cell--grey">
                                </div>
                            {{/times}}
                            {{#times 8}}
                                <div class="numbers__revenue-comparison-item-cell">
                                </div>
                            {{/times}}
                        </div>
                    </div>
                    <div class="numbers__revenue-comparison-item">
                        <div class="numbers__revenue-comparison-item-key">
                            Выручка <br>
                            с <em>SmartMetrics</em>
                        </div>
                        <div class="numbers__revenue-comparison-item-value">
                            {{#times 7}}
                                <div
                                    class="numbers__revenue-comparison-item-cell numbers__revenue-comparison-item-cell--grey">
                                </div>
                            {{/times}}
                            {{#times 8}}
                                <div
                                    class="numbers__revenue-comparison-item-cell numbers__revenue-comparison-item-cell--blue">
                                </div>
                            {{/times}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="numbers__check">
                <div class="numbers__check-percentage">
                    +25%
                </div>
                <div class="numbers__check-text">
                    Рост среднего чека на торговой точке после внедрения сервиса
                </div>
                <img src="/images/small-chart.svg" alt="" class="numbers__check-image">
            </div>
            <div class="numbers__accidents">
                <div class="numbers__accidents-percentage">
                    -99,7%
                </div>
                <div class="numbers__accidents-text">
                    На столько сократились случаи воровства и административные штрафы
                </div>
                <div class="numbers__accidents-circles">
                    <div class="numbers__accidents-small-circle">
                        <img src="/images/small-circle.webp" alt="" class="numbers__accidents-small-circle-image">
                    </div>
                    <div class="numbers__accidents-large-circle">
                        <img src="/images/large-circle.webp" alt="" class="numbers__accidents-large-circle-image">
                    </div>
                </div>
            </div>
            <div class="numbers__clients">
                <div class="numbers__clients-amount">
                    80
                </div>
                <div class="numbers__clients-text">
                    Розничных точек уже подключены
                </div>
                <div class="numbers__clients-logo-wrapper">
                    <img src="/images/logo-icon.svg" alt="" class="numbers__clients-logo">
                </div>
            </div>
        </div>
    </div>
</section>