<section class="other-cases">
    <div class="other-cases__inner">
        <div class="other-cases__top-row">
            <h2 class="other-cases__heading">
                Похожие кейсы
            </h2>
            <a href="#" class="other-cases__show-more">
                Смотреть все
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#fat-arrow-right"></use>
                </svg>
            </a>
        </div>
        <ul class="other-cases__list">
            {{#each cases}}
                <li class="other-cases__list-item">
                    {{> case-card }}
                </li>
            {{/each}}
        </ul>
    </div>
</section>