<section class="our-team">
    <div class="our-team__content">
        <div class="our-team__row">
            <h2 class="our-team__heading">
                Наша команда
            </h2>
            <div class="our-team__arrows">
                <button class="our-team__arrow our-team__arrow--prev">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-right"></use>
                    </svg>
                </button>
                <button class="our-team__arrow our-team__arrow--next">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="our-team__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="out-team__card">
                            <div class="our-team__card-image-container">
                                <img src="/images/our-team/1.webp" alt="" class="our-team__card-image">
                            </div>
                            <h3 class="our-team__card-title">
                                Ильнар Сафин
                            </h3>
                            <div class="our-team__card-role">
                                Основатель и CEO Smartmetrics
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="out-team__card">
                            <div class="our-team__card-image-container">
                                <img src="/images/our-team/2.webp" alt="" class="our-team__card-image">
                            </div>
                            <h3 class="our-team__card-title">
                                Константин Громов
                            </h3>
                            <div class="our-team__card-role">
                                Ведущий менеджер по работе с ключевыми клиентами
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="out-team__card">
                            <div class="our-team__card-image-container">
                                <img src="/images/our-team/3.webp" alt="" class="our-team__card-image">
                            </div>
                            <h3 class="our-team__card-title">
                                Олеся Щербакова
                            </h3>
                            <div class="our-team__card-role">
                                Специалист отдела аналитики розничных сетей
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="out-team__card">
                            <div class="our-team__card-image-container">
                                <img src="/images/our-team/4.webp" alt="" class="our-team__card-image">
                            </div>
                            <h3 class="our-team__card-title">
                                Гульсина Камалетдинова
                            </h3>
                            <div class="our-team__card-role">
                                Исполнительный директор
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="out-team__card">
                            <div class="our-team__card-image-container">
                                <img src="/images/our-team/1.webp" alt="" class="our-team__card-image">
                            </div>
                            <h3 class="our-team__card-title">
                                Ильнар Сафин
                            </h3>
                            <div class="our-team__card-role">
                                Основатель и CEO Smartmetrics
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>