<section class="partners">
    <div class="partners__content">
        <h2 class="partners__heading">
            Нам доверяют
        </h2>
        <div class="partners__slider js-partners-slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    {{#each partners}}
                        <div class="swiper-slide">
                            <a href="#" class="partners__card">
                                <img src="{{ src }}" alt="" class="partners__card-image">
                            </a>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</section>