<section class="security">
    <div class="security__content">

        <div class="security__text-content">
            <div class="security__items-left-mobile js-security-container">
                {{> security-items-left-mobile }}
            </div>
            <div class="security__items-left js-security-container">
                {{> security-items-left }}
            </div>
            <div class="security__text-content-inner">


                <h2 class="security__heading">
                    Безопасность хранения
                    и надежность
                </h2>
                <div class="security__text">
                    Мы используем передовые стандарты защиты и хранения информации
                </div>
                <a href="#" class="security__link js-open-modal">
                    Получить консультацию
                </a>
            </div>
            <div class="security__items-right js-security-container">
                {{> security-items-right }}
            </div>
            <div class="security__items-right-mobile js-security-container">
                {{> security-items-right-mobile }}
            </div>
        </div>
    </div>
</section>