<section class="solutions">
    <div class="solutions__content js-tabs">
        <div class="solutions__top-row">
            <h2 class="solutions__heading">
                Решения для бизнеса
            </h2>
            <div class="solutions__nav">
                <ul class="solutions__nav-list">
                    <li class="solutions__nav-list-item">
                        <a href="#" class="solutions__nav-link js-tabs-btn">
                            АЗС
                        </a>
                    </li>
                    <li class="solutions__nav-list-item">
                        <a href="#" class="solutions__nav-link js-tabs-btn">
                            Ритейл сети
                        </a>
                    </li>
                    <li class="solutions__nav-list-item">
                        <a href="#" class="solutions__nav-link js-tabs-btn">
                            Кафе и рестораны
                        </a>
                    </li>
                    <li class="solutions__nav-list-item">
                        <a href="#" class="solutions__nav-link js-tabs-btn">
                            Бьюти услуги
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="solutions__bottom">
            <div class="solutions__tabs-items">
                {{#times 4}}
                    <div class="solutions__tabs-item js-tabs-item">
                        <div class="solutions__row">
                            <div class="solutions__photo-card">
                                <img src="/images/solutions.webp" alt="" class="solutions__photo-card-image">
                            </div>
                            <div class="solutions__details-card">
                                <div class="solutions__details-card-top">
                                    <div class="solutions__details-card-content">
                                        <h3 class="solutions__details-card-title">
                                            АЗС
                                        </h3>
                                        <div class="solutions__details-card-text">
                                            За 6 месяцев увеличили продажи нефтепродуктов, сопутствующих товаров,
                                            сократили
                                            количество звонков на горячую линию в 10 раз.
                                        </div>
                                        <a href="#" class="solutions__details-card-link">
                                            Подробнее
                                        </a>
                                    </div>
                                    <div class="solutions__details-card-image-container">
                                        <img src="/images/gasoline.webp" alt="" class="solutions__details-card-image">
                                    </div>
                                </div>
                                <div class="solutions__details-card-bottom">
                                    <ul class="solutions__details-card-features-list">
                                        <li class="solutions__details-card-features-list-item">
                                            <div class="solutions__details-card-feature">
                                                <div class="solutions__details-card-feature-amount">
                                                    от 40%
                                                </div>
                                                <div class="solutions__details-card-feature-desc">
                                                    Увеличение продажи сопутствующих товаров
                                                </div>
                                            </div>
                                        </li>
                                        <li class="solutions__details-card-features-list-item">
                                            <div class="solutions__details-card-feature">
                                                <div class="solutions__details-card-feature-amount">
                                                    +5%
                                                </div>
                                                <div class="solutions__details-card-feature-desc">
                                                    Увеличение продажи нефтепродуктов
                                                </div>
                                            </div>
                                        </li>
                                        <li class="solutions__details-card-features-list-item">
                                            <div class="solutions__details-card-feature">
                                                <div class="solutions__details-card-feature-amount">
                                                    в 10 раз
                                                </div>
                                                <div class="solutions__details-card-feature-desc">
                                                    Cократили количество звонков на горячую линию
                                                </div>
                                            </div>
                                        </li>
                                        <li class="solutions__details-card-features-list-item">
                                            <div class="solutions__details-card-feature">
                                                <div class="solutions__details-card-feature-amount">
                                                    1 год
                                                </div>
                                                <div class="solutions__details-card-feature-desc">
                                                    Описание ключевого показателя
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/times}}
            </div>
        </div>
    </div>
</section>