<section class="solution-header">
    <div class="solution-header__content">
        <div class="solution-header__text-content">
            <a href="#" class="solution-header__back-link">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#fat-arrow-left"></use>
                </svg>
                Назад к решениям
            </a>
            <h1 class="solution-header__heading">
                Решения для сетей АЗС
            </h1>
            <div class="solution-header__text">
                Увеличиваем оборот по сопутствующему товару на 40% и на 5% по топливу за 2 месяца
            </div>
            <a href="#" class="solution-header__link">
                Смотреть кейсы
            </a>
        </div>
        <div class="solution-header__images-row">
            <div class="solution-header__images-col">
                <div class="solution-header__images-item">
                    <img src="/images/solution-header/1.webp" alt="" class="solution-header__image">
                </div>
                <div class="solution-header__images-item">
                    <img src="/images/solution-header/3.webp" alt="" class="solution-header__image">
                </div>
            </div>
            <div class="solution-header__images-col">
                <div class="solution-header__images-item">
                    <img src="/images/solution-header/2.webp" alt="" class="solution-header__image">
                </div>
                <div class="solution-header__images-item">
                    <img src="/images/solution-header/4.webp" alt="" class="solution-header__image">
                </div>
            </div>
        </div>
    </div>
</section>