<section class="solutions-archive">
    <div class="solutions-archive__content">
        <h1 class="solutions-archive__heading">
            Решения
        </h1>
        <ul class="solutions-achive__list">
            <li class="solutions-archive__list-item">
                <a href="#" class="solutions-archive__card">
                    <h2 class="solutions-archive__card-title">
                        Ритейл сети
                    </h2>
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#fat-arrow-right"></use>
                    </svg>
                    <div class="solutions-archive__card-image-wrapper">
                        <img src="/images/solutions/1.webp" alt="" class="solutions-archive__card-image">
                    </div>

                </a>
            </li>
            <li class="solutions-archive__list-item">
                <a href="#" class="solutions-archive__card">
                    <h2 class="solutions-archive__card-title">
                        Для сетей АЗС
                    </h2>
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#fat-arrow-right"></use>
                    </svg>
                    <div class="solutions-archive__card-image-wrapper">
                        <img src="/images/solutions/2.webp" alt="" class="solutions-archive__card-image">
                    </div>
                </a>
            </li>
            <li class="solutions-archive__list-item">
                <a href="#" class="solutions-archive__card">
                    <h2 class="solutions-archive__card-title">
                        Решения для сетей
                        кафе и ресторанов
                    </h2>
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#fat-arrow-right"></use>
                    </svg>
                    <div class="solutions-archive__card-image-wrapper">
                        <img src="/images/solutions/3.webp" alt="" class="solutions-archive__card-image">
                    </div>
                </a>
            </li>
            <li class="solutions-archive__list-item">
                <a href="#" class="solutions-archive__card">
                    <h2 class="solutions-archive__card-title">
                        Решения для сетей
                        бьюти индустрии
                    </h2>
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#fat-arrow-right"></use>
                    </svg>
                    <div class="solutions-archive__card-image-wrapper">
                        <img src="/images/solutions/4.webp" alt="" class="solutions-archive__card-image">
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>