<section class="tariffs">
    <div class="tariffs__content">
        <h1 class="tariffs__heading">
            Тарифы
        </h1>
        <div class="tariffs__heading-text">
            Выберите свою ежемесячную подписку на сервис
        </div>
        <ul class="tariffs__list">
            <li class="tariffs__list-item">
                <a href="#" class="tariffs__card">
                    <div class="tariffs__card-top">
                        <div class="tariffs__card-popular">
                            Популярный
                        </div>
                        <h2 class="tariffs__card-title">
                            Тариф B
                        </h2>
                        <div class="tariffs__card-price">
                            от 10 950 ₽
                        </div>
                        <div class="tariffs__card-price-unit">
                            /месяц
                        </div>
                    </div>
                    <div class="tariffs__card-bottom">
                        <ul class="tariffs__card-list">
                            <li class="tariffs__card-list-item">

                            </li>
                        </ul>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>