<section class="tasks">
    <div class="tasks__content">
        <h2 class="tasks__heading">
            Решаем ключевые задачи всех служб предприятия
        </h2>
        <div class="tasks__row">
            <div class="tasks__nav">
                <ul class="tasks__nav-list">
                    <li class="tasks__nav-list-item">
                        <a href="#" class="tasks__nav-link">
                            Управление розничной сетью
                        </a>
                    </li>
                    <li class="tasks__nav-list-item">
                        <a href="#" class="tasks__nav-link">
                            Техническая служба
                        </a>
                    </li>
                    <li class="tasks__nav-list-item">
                        <a href="#" class="tasks__nav-link">
                            Служба безопасности
                        </a>
                    </li>
                    <li class="tasks__nav-list-item">
                        <a href="#" class="tasks__nav-link">
                            Коммерческая служба
                        </a>
                    </li>
                    <li class="tasks__nav-list-item">
                        <a href="#" class="tasks__nav-link">
                            Маркетинг
                        </a>
                    </li>
                    <li class="tasks__nav-list-item">
                        <a href="#" class="tasks__nav-link">
                            Финансовая служба
                        </a>
                    </li>
                </ul>
            </div>
            <div class="tasks__tabs-wrapper">


                <div class="tasks__tabs-items">
                    {{#times 6}}
                        <div class="tasks__tabs-item">
                            <div class="tasks__card">
                                <div class="tasks__card-top">
                                    <div class="tasks__card-text-content">
                                        <h3 class="tasks__card-title">
                                            Управляйте розничной сетью из любой точки
                                        </h3>
                                        <div class="tasks__card-text">
                                            Дистанционный контроль большого количества точек c возможностью просмотра
                                            камер
                                            видеонаблюдения и получения комплексных отчетов в онлайн режиме
                                        </div>
                                        <ul class="tasks__card-features-list">
                                            <li class="tasks__card-features-list-item">
                                                <div class="tasks__card-feature">
                                                    <div class="tasks__card-feature-amount">
                                                        150+
                                                    </div>
                                                    <div class="tasks__card-feature-text">
                                                        Торговых точек, подключили к дистанционному контролю за год
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="tasks__card-features-list-item">
                                                <div class="tasks__card-feature">
                                                    <div class="tasks__card-feature-amount">
                                                        95%
                                                    </div>
                                                    <div class="tasks__card-feature-text">
                                                        Средний прирост KPI персонала в первые месяцы
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tasks__card-image-wrapper">
                                        <img src="/images/cart.webp" alt="" class="tasks__card-image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/times}}

                </div>
                <div class="tasks__card-bottom">
                    <a href="#" class="tasks__card-link tasks__card-link--blue js-open-modal">
                        Запросить демо
                    </a>
                    <a href="#" class="tasks__card-link">
                        Тарифы
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>