<section class="advantages">
    <div class="advantages__content">
        <h2 class="advantages__heading">
            Применяемые технологии
        </h2>
        <ul class="advantages__list">
            <li class="advantages__list-item">
                <div class="advantages__card">
                    <img src="/images/tech/1.svg" alt="" class="advantages__card-icon">
                    <div class="advantages__card-content">
                        <h3 class="advantages__card-title">
                            Face ID
                        </h3>
                        <div class="advantages__card-text">
                            Автоматическая фиксация и выгрузка
                            нарушений. Потоковая обработка и проверка
                        </div>
                    </div>
                </div>
            </li>
            <li class="advantages__list-item">
                <div class="advantages__card">
                    <img src="/images/tech/2.svg" alt="" class="advantages__card-icon">
                    <div class="advantages__card-content">
                        <h3 class="advantages__card-title">
                            Object Recognition
                        </h3>
                        <div class="advantages__card-text">
                            Автоматическая фиксация и выгрузка нарушений. Потоковая обработка и проверка
                        </div>
                    </div>
                </div>
            </li>
            <li class="advantages__list-item">
                <div class="advantages__card">
                    <img src="/images/tech/3.svg" alt="" class="advantages__card-icon">
                    <div class="advantages__card-content">
                        <h3 class="advantages__card-title">
                            Транскрибация речи
                        </h3>
                        <div class="advantages__card-text">
                            Автоматическая фиксация и выгрузка нарушений. Потоковая обработка и проверка
                        </div>
                    </div>
                </div>
            </li>
            <li class="advantages__list-item">
                <div class="advantages__card">
                    <img src="/images/tech/4.svg" alt="" class="advantages__card-icon">
                    <div class="advantages__card-content">
                        <h3 class="advantages__card-title">
                            Машинное зрение
                        </h3>
                        <div class="advantages__card-text">
                            Автоматическая фиксация и выгрузка нарушений. Потоковая обработка и проверка
                        </div>
                    </div>
                </div>
            </li>
            <li class="advantages__list-item">
                <div class="advantages__card">
                    <img src="/images/tech/5.svg" alt="" class="advantages__card-icon">
                    <div class="advantages__card-content">


                        <h3 class="advantages__card-title">
                            Тепловые карты
                        </h3>
                        <div class="advantages__card-text">
                            Автоматическая фиксация и выгрузка нарушений. Потоковая обработка и проверка
                        </div>
                    </div>
                </div>
            </li>
            <li class="advantages__list-item">
                <a href="#" class="advantages__demo js-open-modal">
                    <div class="advantages__demo-content">


                        <h3 class="advantages__demo-title">
                            ПО внесено в реестр Российского ПО Минцифры
                        </h3>
                        <div class="advantages__demo-text">
                            Запись в реестре от 21.03.2023 №16997 https://reestr.digital.gov.ru/reestr/1382984/ . Также
                            ООО "Смарт Технлогии" являются Свидетельство № 2023612513
                        </div>
                    </div>

                </a>
            </li>
        </ul>
    </div>
</section>