.about-company {
  display: grid;
  grid-template-columns:
    [main-start] 1fr [content-start] minmax(0, var(--container-width, 0))
    [content-end] 1fr [main-end];
  grid-gap: var(--content-padding, 0);
  margin-bottom: 20rem;

  @include breakpoint(mobile) {
    margin-bottom: 6.8rem;
  }
}

.about-company__content {
  grid-column-start: content-start;
  grid-column-end: content-end;

  @include breakpointMF(small-tablet) {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-gap: 2.4rem;
  }
  @include breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
}

.about-company__image-wrapper {
  position: relative;
  border-radius: 1.6rem;
  overflow: hidden;
  backface-visibility: hidden;
  &::before {
    content: "";
    display: block;
    padding-bottom: 63.6%;
  }

  @include breakpointMF(small-tablet) {
    grid-column: 1 / 8;
  }

  @include breakpoint(mobile) {
    order: 10;
    &::before {
      padding-bottom: 65%;
    }
  }
}

.about-company__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-company__text-content {
  display: flex;
  flex-direction: column;
  @include breakpointMF(small-tablet) {
    grid-column: 8 / -1;
  }
}

.about-company__heading {
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 115%;
  letter-spacing: -0.12rem;
  margin-bottom: 4rem;
  b {
    font-weight: inherit;
    color: var(--primary-color);
  }

  @include breakpoint(mobile) {
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -0.072rem;
    margin-bottom: 2.4rem;
  }
}

.about-company__text {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  margin-bottom: 4rem;
  p {
    margin-bottom: 1.6rem;
    &:last-child {
      margin-bottom: 0;
    }
  }

  @include breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    letter-spacing: -0.032rem;

    p {
      margin-bottom: 1rem;
    }
  }
}

.about-company__link {
  @include blueBtn;
}
