.awards {
  display: grid;
  grid-template-columns:
    [main-start] 1fr [content-start] minmax(0, var(--container-width, 0))
    [content-end] 1fr [main-end];
  grid-gap: var(--content-padding, 0);
  margin-bottom: 16rem;

  @include breakpoint(mobile) {
    margin-bottom: 6.8rem;
  }
}

.awards__content {
  grid-column-start: content-start;
  grid-column-end: content-end;
}

.awards__heading {
  @include sectionHeading;
  margin-bottom: 6rem;

  @include breakpoint(mobile) {
    margin-bottom: 3.2rem;
  }
}

.awards__list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 2.4rem;

  @include breakpoint(mobile) {
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 0.8rem;
  }
}

.awards__list-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
}
