.case-card {
  border-radius: 1.6rem;
  background: #f2f5f8;

  @include breakpointMF(small-tablet) {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-gap: 2.4rem;
    padding-bottom: 8.6rem;
    padding-top: 6.4rem;
    align-items: flex-start;
  }

  @include breakpoint(mobile) {
    padding: 2.4rem;
    padding-bottom: 3.2rem;
    padding-top: 1.8rem;
    border-radius: 1.6rem;
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto;
    grid-gap: 2.4rem;
    grid-row-gap: 1.6rem;
    grid-template-areas: "tags logo" "title title" "desc desc" "features features" "button button";
  }
}

.case-card__logo-wrapper {
  border-radius: 1.2rem;
  background: white;
  padding: 1rem;
  width: 16rem;
  margin-left: 6.4rem;

  @include breakpointMF(small-tablet) {
    grid-column: 1 / 4;
    align-self: flex-start;
    justify-self: flex-start;
  }

  @include breakpoint(mobile) {
    padding: 0.4rem;
    border-radius: 0.6rem;
    width: 6.4rem;
    justify-self: flex-end;
    align-self: center;
    grid-area: logo;
  }
}

.case-card__logo-wrapper-inner {
  position: relative;
  &::before {
    content: "";
    padding-bottom: 60.7%;
    display: block;
  }
}

.case-card__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.case-card__main-content {
  @include breakpointMF(small-tablet) {
    grid-column: 4 / -1;
    display: grid;
    grid-template-columns: repeat(9, minmax(0, 1fr));
    grid-gap: 2.4rem;
    grid-row-gap: 1.6rem;
  }

  @include breakpoint(mobile) {
    display: contents;
  }
}

.case-card__text-content {
  @include breakpointMF(small-tablet) {
    grid-column: 1 / 5;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  @include breakpoint(mobile) {
    display: contents;
  }
}

.case-card__title {
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -0.128rem;

  @include breakpointMF(small-tablet) {
    grid-column: 1 / -1;
  }

  @include breakpoint(mobile) {
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -0.084rem;
    grid-area: title;
  }
}

.case-card__tags-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.6rem;

  @include breakpoint(mobile) {
    grid-area: tags;
    align-self: center;
  }
}

.case-card__tags-list-item {
  flex-shrink: 0;
}

.case-card__tag {
  display: block;
  padding: 0.9rem 2rem;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  border-radius: 99.9rem;
  border: 1px solid #dfe4ea;

  @include breakpoint(mobile) {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    padding: 0.7rem 1.4rem;
  }
}

.case-card__desc {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.048rem;

  @include breakpoint(mobile) {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0;
    grid-area: desc;
  }
}

.case-card__more {
  @include breakpointMF(small-tablet) {
    margin-top: 1.6rem;
    display: inline-flex;
    align-items: center;
    justify-self: flex-start;
    gap: 0.8rem;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    color: rgba(31, 38, 45, 0.3);
    transition: color 0.2s;

    svg {
      flex-shrink: 0;
      fill: currentColor;
      width: 1.4rem;
      height: 1.4rem;
    }
    &:link,
    &:visited {
      color: rgba(31, 38, 45, 0.3);
    }

    @media (hover: hover) {
      &:hover {
        color: var(--primary-color);
      }
    }
  }

  @include breakpoint(mobile) {
    @include blueBtn;
    align-self: flex-start;
    grid-area: button;
    margin-top: 1.6rem;
    svg {
      display: none;
    }
  }
}

.case-card__features {
  @include breakpointMF(small-tablet) {
    grid-column: 5 / -1;
    padding-left: 6.8rem;
    padding-right: 6.8rem;
  }

  @include breakpoint(mobile) {
    grid-area: features;
    margin-top: 1.6rem;
  }
}

.case-card__features-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 8rem;
  grid-row-gap: 3.5rem;

  @include breakpoint(mobile) {
    grid-gap: 3.2rem;
    grid-row-gap: 2.8rem;
  }
}

.case-card__features-card {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  @include breakpoint(mobile) {
    gap: 0.4rem;
  }
}

.case-card__features-card-amount {
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -0.09rem;
  &::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 3rem;
    height: 2.4rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../images/decor/blue-mark.svg");
    background-position: center;
    margin-right: 0.4rem;
  }

  @include breakpoint(mobile) {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -0.048rem;

    &::before {
      width: 2.4rem;
      height: 1.9rem;
    }
  }
}

.case-card__features-card-text {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 145%;

  @include breakpoint(mobile) {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }
}
