.cases-single {
  display: grid;
  grid-template-columns:
    [main-start] 1fr [content-start] minmax(0, var(--container-width, 0))
    [content-end] 1fr [main-end];
  grid-gap: var(--content-padding, 0);
  margin-bottom: 16rem;

  @include breakpoint(mobile) {
    margin-bottom: 6.8rem;
  }
}

.cases-single__content {
  grid-column-start: content-start;
  grid-column-end: content-end;
  display: flex;

  gap: 6rem;

  @include breakpointMF(small-tablet) {
    justify-content: space-between;
  }

  @include breakpoint(mobile) {
    gap: 6.8rem;
    flex-direction: column;
  }
}

.cases-single__main {
  width: 88rem;

  @include breakpoint(mobile) {
    width: auto;
  }
}

.cases-single__sidebar {
  width: 44rem;
  flex-shrink: 0;

  @include breakpoint(mobile) {
    width: auto;
    flex-shrink: 1;
  }
}

.cases-single__demo {
  padding: 3.2rem;
  border-radius: 1.6rem;
  background: #f2f5f8;
  display: flex;
  flex-direction: column;

  @include breakpoint(mobile) {
    padding: 2.4rem;
  }
}

.cases-single__demo {
  padding: 3.2rem;
  border-radius: 1.6rem;
  background: var(--primary-color);
  display: flex;
  flex-direction: column;
  color: white;
  position: relative;

  @include breakpoint(mobile) {
    padding: 2.4rem;
  }
}

.cases-single__demo-top-row {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2.4rem;

  @include breakpoint(mobile) {
    margin-bottom: 1.6rem;
  }
}

.cases-single__demo-heading {
  width: 30%;
  flex-grow: 1;
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -0.09rem;

  @include breakpoint(mobile) {
    // font-size: 2.6rem;
    // font-style: normal;
    // font-weight: 500;
    // line-height: 125%;
    // letter-spacing: -0.084rem;

    font-size: 2.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -0.084rem;
  }
}

.cases-single__demo-image {
  width: 12.8rem;
  height: 12.8rem;
  object-fit: contain;
  flex-shrink: 0;

  @include breakpoint(mobile) {
    width: 10rem;
    height: 10rem;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: -3.5rem;
  }
}

.cases-single__demo-desc {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 3.2rem;

  @include breakpoint(mobile) {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin-bottom: 2.4rem;
  }
}

.cases-single__demo-link {
  @include whiteBtn;
}
