.info {
  margin-top: 3.2rem;
  border-radius: 1.6rem;
  background: #f2f5f8;
  padding: 4rem;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-areas: "summary list";
  grid-gap: 5rem;
  &:first-child {
    margin-top: 0;
  }

  @include breakpoint(mobile) {
    padding: 2.4rem;
    margin-top: 2.4rem;
    grid-template-columns: minmax(0, 1fr);
    grid-template-areas: "summary" "list";
    grid-gap: 3.6rem;
  }
}

.info__summary {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  grid-area: summary;
}

.info__summary-key {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 145%;

  @include breakpoint(mobile) {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: -0.036rem;
  }
}

.info__summary-value {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;

  @include breakpoint(mobile) {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }
}

.info__list {
  grid-area: list;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 3.6rem;

  @include breakpoint(mobile) {
    grid-gap: 2rem;
  }
}

.info__card {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.info__card-key {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 145%;

  @include breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 135%;
    letter-spacing: -0.048rem;
  }
}

.info__card-value {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;

  @include breakpoint(mobile) {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }
}
