.numbers {
  display: grid;
  grid-template-columns:
    [main-start] 1fr [content-start] minmax(0, var(--container-width, 0))
    [content-end] 1fr [main-end];
  grid-gap: var(--content-padding, 0);
  margin-bottom: 19rem;

  @include breakpoint(mobile) {
    margin-bottom: 5.6rem;
  }
}

.numbers__content {
  grid-column-start: content-start;
  grid-column-end: content-end;
}

.numbers__heading {
  @include sectionHeading;
  margin-bottom: 6rem;

  @include breakpoint(mobile) {
    margin-bottom: 3.2rem;
  }
}

.numbers__grid {
  @include breakpointMF(small-tablet) {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-gap: 2.4rem;
  }

  @include breakpoint(mobile) {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 0.8rem;
    grid-row-gap: 1.2rem;
    grid-auto-flow: dense;
  }
}

.numbers__roi {
  min-height: 36rem;
  border-radius: 1.6rem;
  background: #f2f5f8;
  position: relative;
  padding: 4rem 6rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @include breakpointMF(small-tablet) {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
  }

  @include breakpoint(mobile) {
    min-height: 37.2rem;
    padding: 2.4rem;
    border-radius: 1.6rem;
    background: #f2f5f8;
    grid-column: 1 / -1;
  }
}

.numbers__roi-chart {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 98%;
  width: auto;
  max-width: 100%;
  object-fit: contain;
  -webkit-user-drag: none;

  @include breakpoint(mobile) {
    height: auto;
    width: 100%;
  }
}

.numbers__roi-percentage {
  font-size: 12rem;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -0.36rem;

  @include breakpoint(mobile) {
    font-size: 10rem;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -0.2rem;
  }
}

.numbers__roi-text {
  max-width: 24rem;

  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;

  @include breakpoint(mobile) {
    font-size: 1.6rem;

    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    letter-spacing: -0.032rem;
    max-width: 19rem;
  }
}

.numbers__revenue {
  min-height: 36rem;

  border-radius: 1.6rem;
  border: 1px solid #dfe4ea;
  padding: 4rem 6rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 5.4rem;
  grid-row-gap: 2.5rem;
  grid-template-areas: "percentage text" "comparison comparison";

  @include breakpointMF(small-tablet) {
    grid-row: 1 / 2;
    grid-column: 8 / -1;
  }

  @include breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    border-radius: 1.6rem;
    border: 1px solid #dfe4ea;
    padding: 2.4rem;
    min-height: 37.2rem;
    gap: 0;
    grid-column: 1 / -1;
  }
}

.numbers__revenue-percentage {
  font-size: 8.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -0.258rem;

  @include breakpointMF(small-tablet) {
    grid-area: percentage;
    align-self: center;
  }

  @include breakpoint(mobile) {
    font-size: 6.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -0.204rem;
    margin-bottom: 0.6rem;
  }
}

.numbers__revenue-text {
  max-width: 38rem;

  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;

  @include breakpointMF(small-tablet) {
    grid-area: text;
    align-self: center;
  }

  @include breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    letter-spacing: -0.032rem;
    margin-bottom: 3.2rem;
  }
}

.numbers__revenue-comparison {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  @include breakpointMF(small-tablet) {
    grid-area: comparison;
  }

  @include breakpoint(mobile) {
    margin-bottom: 2.4rem;
  }
}

.numbers__revenue-comparison-item {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.8rem;
  align-items: stretch;

  @include breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.8rem;
    max-width: 26.8rem;
  }
}

.numbers__revenue-comparison-item-key {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;

  br {
    display: none;
  }

  em {
    font-style: normal;
    color: #418dd9;
    font-weight: 500;
  }

  @include breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    letter-spacing: -0.032rem;

    br {
      display: none;
    }
  }
}

.numbers__revenue-comparison-item-value {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-gap: 0.2rem;
  max-width: 38.4rem;
}

.numbers__revenue-comparison-item-cell {
  border-radius: 1.9rem;
  border: 1px dashed #f2f5f8;
  position: relative;
  border-radius: 1.7rem;
  &::before {
    content: "";
    display: block;
    padding-bottom: 250%;
  }

  &--grey {
    border: 1px solid #f2f5f8;
    background-color: #f2f5f8;
  }

  &--blue {
    border: 1px solid #418dd9;
    background-color: #418dd9;
  }
}

.numbers__check {
  min-height: 36rem;
  border-radius: 1.6rem;
  border: 1px solid #dfe4ea;
  display: flex;
  flex-direction: column;
  padding: 4rem;
  padding-bottom: 0;
  align-items: center;
  text-align: center;
  gap: 1.2rem;

  @include breakpointMF(small-tablet) {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
  }

  @include breakpoint(mobile) {
    grid-column: 1 / 2;
    padding: 1.9rem;
    padding-top: 2.4rem;
    gap: 0;
    min-height: auto;
  }
}

.numbers__check-percentage {
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -0.128rem;

  @include breakpoint(mobile) {
    font-size: 3.6rem;

    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -0.072rem;
    margin-bottom: 0.2rem;
  }
}

.numbers__check-text {
  font-size: 1.8rem;
  max-width: 24rem;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;

  @include breakpoint(mobile) {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin-bottom: 2.7rem;
  }
}

.numbers__check-image {
  margin-top: auto;
  width: 18rem;
  max-width: 100%;

  @include breakpoint(mobile) {
    width: 100%;
  }
}

.numbers__accidents {
  border-radius: 1.6rem;
  background: #f2f5f8;

  padding: 4rem 6rem;
  padding-right: 4.2rem;
  padding-bottom: 3rem;
  gap: 1rem;
  min-height: 36rem;
  display: flex;
  flex-direction: column;

  @include breakpointMF(small-tablet) {
    grid-column: 4 / 10;
    grid-row: 2 / 3;
  }

  @include breakpoint(mobile) {
    padding: 2.4rem;
    padding-bottom: 3.2rem;
    gap: 0;
    min-height: auto;
    grid-column: 1 / -1;
  }
}

.numbers__accidents-percentage {
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -0.128rem;

  @include breakpoint(mobile) {
    font-size: 6.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -0.204rem;
    margin-bottom: 0.6rem;
  }
}

.numbers__accidents-text {
  max-width: 26rem;

  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;

  @include breakpoint(mobile) {
    font-size: 1.6rem;
    max-width: 23rem;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    letter-spacing: -0.032rem;
    margin-bottom: 1.6rem;
  }
}

.numbers__accidents-circles {
  display: flex;
  align-items: flex-end;
  align-self: flex-end;
  margin-top: -15rem;
  margin-left: auto;

  @include breakpoint(mobile) {
    margin-top: 0;
    margin-right: auto;
  }
}

.numbers__accidents-small-circle {
  width: 13.5rem;
  height: 13.5rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative;

  @include breakpoint(mobile) {
    width: 11.2rem;
    height: 11.2rem;
  }
}

.numbers__accidents-small-circle-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.numbers__accidents-large-circle {
  width: 25.6rem;
  height: 25.6rem;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  margin-bottom: 0rem;
  border: 1rem solid #f2f5f8;
  margin-left: -6rem;

  @include breakpoint(mobile) {
    width: 21rem;
    height: 21rem;
    margin-left: -5rem;
    margin-bottom: 1.5rem;
  }
}

.numbers__accidents-large-circle-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.numbers__clients {
  display: flex;
  flex-direction: column;
  border-radius: 1.6rem;
  background: #f2f5f8;
  padding: 4rem 6rem;
  gap: 1rem;
  align-items: center;
  text-align: center;

  @include breakpointMF(small-tablet) {
    grid-row: 2 / 3;
    grid-column: 10 / -1;
  }

  @include breakpoint(mobile) {
    padding: 2.4rem;
    gap: 0;
    padding-bottom: 4.2rem;
  }
}

.numbers__clients-amount {
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -0.128rem;

  @include breakpoint(mobile) {
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -0.072rem;
  }
}

.numbers__clients-text {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;

  @include breakpoint(mobile) {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin-bottom: 2.7rem;
  }
}

.numbers__clients-logo-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  background: white;
  box-shadow: 0px 3.3rem 3.4rem 0px rgba(49, 78, 122, 0.05),
    0px 0.4rem 1.3rem 0px rgba(49, 78, 122, 0.06);

  margin-top: auto;
  width: 10rem;
  max-width: 100%;
  margin-bottom: 2rem;
  &::before {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  @include breakpoint(mobile) {
    width: 8.8rem;
  }
}

.numbers__clients-logo {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
